
$primary-color: #42b831;      // Cor principal do site
$header-color: #182C61;          // Cor do cabeçalho
$background-color: #f5f6fa;   // Cor de fundo para a maioria das seções
$fontPrincipal: 'Roboto', sans-serif;  // Família de fontes correta
$max-width: 1024px;           // Largura máxima para o layout
